@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
  }

body{
    background-color: #F2EFE4;
    /* padding: 0 7% 0 7%; */
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
}

.bdr{
    border: 2px solid black;
}