@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

.lobster {
  font-family: Lobster, cursive;
}
.satisfy{
    font-family: 'Satisfy', cursive;
}

body {
  /* background-color: #F2EFE4; */
  /* padding: 0 7% 0 7%; */
  background-color: #eaeaea;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

.bdr {
  border: 2px solid black;
}

.side-p {
  padding: 86px 130px 0 95px;
}
